.login-outer-container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login-inner-container{
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-logo-image-wrapper{
    width: 100px;
    height: 70px;
}

.login-logo-image-wrapper > img{
    width: 100%;
    height: 100%;
}

.login-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}

.login-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-hr{
    height: 1px;
    width: 100px;
    border-bottom: 1px solid #c9c3c3;
}

.login-inner-container form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-inner-container form .wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
}

.login-inner-container form .wrapper > input{
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #cacaca;
}

.login-username-label,
.login-password-label{
    position: absolute;
    left: 10px;
    font-weight: 600;
    color: #636363;
    transition: 200ms;
}

.active-input{
    top: -12px;
    left: 10px;
    background-color: #fff;
    transition: 200ms;
}

.login-button{
    width: 90%;
    border-radius: 8px;
    border: none;
    padding: 8px;
    margin-bottom: 12px;
    background-color: #2371b9;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .login-inner-container{
        width: 70%;
    }
}